
.button {

  display: inline-block;
  padding: 12px 14px;
  border-radius: 4px;
  background-color: #2f3240;
  color: #9feaf9;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: lighten( #2f3240, 5% );
  }

  &:active {
    background-color: darken( #2f3240, 5% );
  }

}
